@charset "utf-8";
/*
© 2015 Felix Hajek

Sorry, der Code ist noch etwas durcheinander ...
Wird mit dem nächsten Update/Upload behoben...
*/

*	{
	margin: 0px;
	padding: 0px;
	border: none;
	}
	
body {
	font-family: Verdana, Geneva, sans-serif;
	color: #555;
	background: #cfcfcf;
	}
	
body, html {
	width: 100%;
	height: 100%;
	
}

.clear	{
	clear:both;
	}

/* --- font --- */

p	{
	}

h1	{
	font-family: 'Lato', sans-serif;
	font-family: 'Vollkorn', serif;
font-weight: 500;
font-size: 82px;
padding: 0 0 0 0;
color: #cfcfcf;

	}
	
h1.littleh	{
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	text-transform:uppercase;
	margin: -20px 0 10px 0;
color: #65b4c7;
	}
	
h2	{
	font-family: 'Vollkorn', serif;
	color: #1F849C;
	padding: 5px 15px 3px 11px;
	font-weight: normal;
	display: inline-block;
	font-style: italic;
	margin: 4px 0 4px 0;
	background: #cfcfcf;

	}
	
h2.hcolor	{
	background: #333;
	}
	
h2.hcolor2	{
	background: #a2a2a2;
	}
	
	
/* --- links --- */
	
a	{
	color: #7b8315;
	text-decoration: none;
	}
	
a:hover	{
	color: #ffbe2a;
	}

/* --- header --- */

#navigation {
	width: 100%;
	top: 0px;
	height: 40px;
	background: #222;
	position: fixed;
	text-align: center;
	
}

#navigation li {
	list-style:none;
	float: left;
}

#navigation div {
	display: inline-block;
}

#navigation li a {
	background: #222;
	display: inline-block;
	padding: 9px 12px;
	font-size: 16px;
	color: #aaa;

}

#navigation li a:hover {
	background: #1F849C;
	color: #efefef;

}

/* --- header --- */

#header {
	width: 100%;
	height: 100%;
	background: #1F849C;

	}
	
#header span {
	font-size: 26px;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	color: #78d6ec;

	display: inline-block;
	border-bottom: 4px solid #78d6ec;
	padding-bottom: 25px;
	margin-bottom: 10px;
	
	}
	
#header h3 {
	padding: 35% 0 5px 0;
	margin-bottom: 25px;
	font-size: 114px;
	font-family: 'Josefin Slab', serif;
	font-weight: normal;
	color: #efefef;
	display: inline-block;
	border-bottom: 4px solid #efefef;
	}
	
#header strong , #header   a{
		text-transform:uppercase;
color: #efefef;
	}
	
#header div {
width: 800px;
margin: 0 auto;
	}
	/*
#header a {
	margin: 20px 0 0px 0;
	display: inline-block;
	font-size: 64px;
	font-family: 'Josefin Slab', serif;
	font-weight: normal;
	color: #efefef;
	}
	
	*/
	
/* --- content --- */

#wrapper {
	
	}
	
#content_detail {
	max-width: 1600px;
margin: 0 auto;
text-align: center;
}

.content_header {
background: #1F849C;
}

#content_detail img {
	width: 790px;
padding-top: 0px;
}

.text  {
	vertical-align: top;
display: inline-block;

	
}



.text span  {
	display: inline;
width: 605px; 
	padding: 50px 0 0 0;
	
}

.text span.left  {
	text-align: right;
	padding-right: 50px;
display: inline-block;


}

.text span.right  {
border-left: 1px solid #cfcfcf;
	padding-top: 68px;
	padding-left: 50px;
	padding-bottom: 50px;
	display: inline-block;
	text-align: left;
}





.text p {
	font-size: 18px;
	line-height: 28px;
	font-family: 'Lato', sans-serif;
	padding: 0 20px;
	color: #cfcfcf;
}

/* --- content portfolio --- */

#content_portfolio {
	text-align: center;
	background: #222;
	padding: 88px 0 88px 0;
	}
	
#content_portfolio div {


	display: inline-block;
	}
	
	
#content_portfolio a {
text-align: left; 
	}
	
#content_portfolio img {

	}
	
.portfolio {
	border: 1px solid #222;
	border-top: 2px solid #222;
	float: left;
	}
	

	
.portfolio:hover {

	background: #333;
	}
	
.portfolio span {
	height: 100px;
	display: block;
	margin: -100px 0 0 0;

	}
	
.portfolio  h4 {
	font-family: 'Vollkorn', serif;
	color: #cfcfcf;
	padding: 15px 20px 10px 15px;
	font-weight: normal;
	display: inline;
background: #222;
	font-size: 28px;
	margin: 0px 0 20px 0;
	}
	
.portfolio:hover  h4 {
	background: #1F849C;
	}
	
.portfolio:hover  h5 {
	background: #1F849C;
	}
	
.portfolio  h5 {
	font-family: 'Vollkorn', serif;
	color: #cfcfcf;
	padding: 0px 20px 10px 15px;
	font-weight: normal;
	display: inline;
	font-style: italic;
background: #222;
	font-size: 16px;
	margin: 0px 0 0 0;
	}
	
	
/* --- zwischenraumo --- */
	
	.clearcolor {
		border-top: 20px solid #333;
	height: 100px;
	background: #1F849C;
	width: 100%;	
	margin-top: 80px;
	
	}
	
	.clearcolor3 {
	height: 100px;
	background: #1F849C;
	width: 100%;	
	
	}
	
	.clearcolor2 {
margin-bottom: 80px;
	height: 100px;
	background: #1F849C;
	width: 100%;	
	}
	
	
footer {
	font-size: 14px;
height: 200px;
background: #222;	
margin-top: 150px;
}


footer  p{
color: #666;
text-align: center;
padding-top: 50px;
}
